*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

:root {
  --background-color: #121212;
  --primarytext: #e0e0e0;
  --secondarytext: #b0b0b0;
  --borders: #444444;
  --accent: #888888;
}
body {
  background: var(--background-color);
  font-family: "Inter", sans-serif;
  line-height: 1.8;
  text-transform: lowercase;
}

.page {
  width: min(700px, 90%);
  margin: 5rem auto;
  animation: pageLoad 2s cubic-bezier(0.22, 1, 0.36, 1);
}

.back {
  color: var(--secondarytext);
  text-decoration: none;
  display: inline-block;
  margin-bottom: 3rem;
  opacity: 0.5;
}

.back:hover {
  text-decoration: underline;
  text-underline-offset: 3px;
  color: var(--accent);
  opacity: 1;
}

h1 {
  font-size: 3.6rem;
  font-weight: 800;
  letter-spacing: -0.06em;
  margin-bottom: 1.5rem;
  line-height: 1;
  color: var(--primarytext);
}


.intro{

  font-size:1.35rem;
  color: var(--primarytext);
  margin-bottom:1rem;
}

p {
  color: var(--secondarytext);
  text-transform: lowercase;
  margin-bottom: 1.5rem;
}

.contacts{

  display:flex;

  flex-direction:column;

  margin-top:5rem;

  gap:1.2rem;
}

.contacts a{

  display:flex;

  justify-content:space-between;

  align-items:center;

  color: var(--secondarytext);

  text-decoration:none;

  border-bottom:1px solid #222;

  padding-bottom:.8rem;

  transition:.25s;
  opacity: 0.5;
}

.contacts a:hover{

  border-color: var(--accent);
  padding-left:.4rem;
  opacity: 1;
}

.arrow{

  color: var(--secondarytext);

  transition:.25s;
}

.contacts a:hover .arrow{

  transform:translate(4px,-4px);

  color: var(--accent);
}


footer{

  width:min(700px, calc(100% - 4rem));

  margin:8rem auto 2rem;

  padding-top:1.5rem;

  display:flex;
  justify-content:space-between;
  align-items:center;

  border-top:1px solid var(--borders);

}

footer p,
footer a{

  margin:0;

  color: var(--secondarytext);

  font-size:.92rem;

  text-decoration:none;

  transition:color .25s ease;
  opacity: 0.5;

}

footer a:hover{

  color: var(--accent);
  opacity: 1;

}

@media (max-width:768px){

  footer{

      width:calc(100% - 3rem);

      margin:6rem auto 2rem;

      flex-direction:column;

      align-items:flex-start;

      gap:.75rem;

  }

}

@media(max-width:700px){

  .page{

      padding:5rem 1.5rem;
  }

}


@keyframes pageLoad {
    from {
      opacity: 0;
      transform: translateY(12px);
    }
  
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  #bg {
    position: fixed;
    inset: 0;
  
    width: 100%;
    height: 100%;
  
    z-index: -1;
  
    opacity: 0.75; /* reduce if you want it subtler */
  }